.header{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #faeaeab7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
